@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&family=Staatliches&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
}
body{
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 80px;
    padding-top: 130px;
    padding-left: 50px;
    padding-right: 50px;
}
.container{
    min-width: 144px;
    width: 100%;
    background: #fff;
    box-shadow: 5px 10px 10px black;
}
.container h2{
    padding: 2rem 1rem;
    font-size: 2.5rem;
    text-align: center;
}
.tbl{
    width: 100%;
    border-collapse: collapse;
}
.tbl thead{
    background: black;
    color: white;
    text-decoration: dashed;
}
.tbl thead tr th{
    font-size: 0.9rem;
    padding: 0.8rem;
    letter-spacing: 0.2rem;
    vertical-align: top;
    border: 3px solid #aab7b8;
}
.tbl tbody tr td{
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-weight: normal;
    text-align: center;
    border: 3px solid #aab7b8;
}
.tbl tr:hover td{
    background: #839192;
    color: black;
    transition: all 0.3s ease-in;
    cursor: pointer;
}
#collected:hover{
    background: green;
    transition: all 0.2s ease-in;
}
footer {
    text-align: center;
    padding: 10px 0;
    background: #222;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}
header {
    width: 100%;
    background: linear-gradient(90deg, #111, #333);
    color: gold;
    text-align: center;
    padding: 18px 0;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 2px solid gold;
    position: fixed;
    top: 0;
    z-index: 999;

}
